.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-color {
    color: white;
    background-color: blueviolet;
    width: 100%;
    margin: 5px;
}

.mg-t-b {
    margin-top: 20px;
    margin-bottom: 10px;
}

.mg-l-r {
    margin-left: 5px;
    margin-right: 5px;
}

.bd {
    border-style: solid;
    border-color: gray;
}

ul {
    background-color: blueviolet;
    overflow: hidden;
}

.navbar>li {
    display: inline;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    background-color: black;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: black;
}

.logo {
    float: right;
    margin-right: 50px;
    background-color: white;
    border-style: solid;
    border-color: red;
    border-radius: 30px;
}

.logo>p {
    margin: 10px;
}

.navbar-bottom {
    display: none;
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    ul.navbar {
        display: none;
    }
    .navbar-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
}