    header,
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(188, 39, 39);
    }
    
    .headerImg {
        margin: 15px;
    }
    
    body {
        background-color: lightgrey;
    }
    
    #pokemon-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }
    
    #pokemon-list li {
        width: calc(33.33% - 10px);
        margin-bottom: 20px;
        text-align: center;
        position: relative;
        border-style: solid;
        border-color: black;
        border-radius: 35px;
    }
    
    #pokemon-list li button {
        top: 0;
        right: 0;
        padding: 10px;
        background-color: #f00;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    
    #pokemon-list li.hidden {
        display: none;
    }
    
    #pokemon-list h2 {
        margin: 10px;
        font-size: 20px;
        font-style: italic;
        text-transform: capitalize;
    }
    
    #pokemon-list img {
        width: 100%;
        height: auto;
    }